.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
        }

        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35%;
            font-size: 1.2rem;
        }

        .count {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 10%;
            font-size: 1.2rem;

            .btns-change {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                height: 50%;
            }
        }
    
        .small-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            font-size: 1.2rem;

            .icon {
                color: #fec806;
                font-size: 2rem;
            }
        }

        .img {
            width: 50%;
            height: auto;
        }
    }

    .line {
        width: 96%;
        border: 0.1px solid #018ec3;
    }
}

@media screen and (max-width: 1099px) and (min-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    
        .content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
    
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
            }
    
            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35%;
                font-size: 1rem;
            }
    
            .count {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 10%;
                font-size: 1rem;
    
                .btns-change {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 50%;
                    height: 50%;
                }
            }
        
            .small-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10%;
                font-size: 1rem;
    
                .icon {
                    color: #fec806;
                    font-size: 2rem;
                }
            }
    
            .img {
                width: 50%;
                height: auto;
            }
        }
    }

    .line {
        width: 96%;
        border: 0.1px solid #018ec3;
    }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    
        .content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
    
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
            }
    
            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34%;
                font-size: 0.8rem;
            }
        
            .small-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 12%;
                font-size: 0.8rem;

                .icon {
                    color: #fec806;
                    font-size: 1.2rem;
                }
            }
    
            .img {
                width: 50%;
                height: auto;
            }
        }
    }

    .line {
        width: 96%;
        border: 0.1px solid #018ec3;
    }
}

@media screen and (max-width: 599px) and (min-width: 281px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    
        .content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
    
            .image {
                display: none;
            }
    
            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32%;
                font-size: 0.5rem;
            }

            .count {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 17%;
                height: 100%;
                font-size: 0.6rem;
            }
        
            .small-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 17%;
                font-size: 0.6rem;

                .icon {
                    color: #fec806;
                    font-size: 1rem;
                }
            }
    
            .img {
                width: 50%;
                height: auto;
            }
        }
    }

    .line {
        width: 96%;
        border: 0.1px solid #018ec3;
    }
}

@media screen and (max-width: 280px) and (min-width: 200px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    
        .content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
    
            .image {
                display: none;
            }
    
            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28%;
                font-size: 0.5rem;
            }

            .count {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 15%;
                height: 100%;
                font-size: 0.5rem;
            }
        
            .small-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 19%;
                font-size: 0.5rem;

                .icon {
                    color: #fec806;
                    font-size: 1rem;
                }
            }
    
            .img {
                width: 50%;
                height: auto;
            }
        }
    }

    
    .line {
        width: 96%;
        border: 0.1px solid #018ec3;
    }
}