.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .table {
        width: 100%;
        height: fit-content;
        border-radius: 10px;
        padding: 1rem;
        background: rgb(255, 255, 255);
        box-shadow: 0 1px 4px rgb(0 0 0 / 15%);

        .titles {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2rem;
            color: #fff;
            background-color: #018ec3;
            padding: 1rem;
            height: 50px;
            border-radius: 10px;
        
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
            }

            .name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35%;
            }

            .count {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10%;
            }
        
            .small-title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10%;
            }
        }

        .information {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 10px;
        }
    }

    .result {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: fit-content;
        padding-top: 1rem;
    }

    .add-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1rem;
        outline: 0;
        width: 70%;
        height: fit-content;
        border-radius: 10px;
        background: rgb(255, 255, 255);
        box-shadow: 0 1px 4px rgb(0 0 0 / 15%);

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: fit-content;
            color: black;
            padding: 1rem;

            .big-title {
                font-weight: 700;
                font-size: 2rem;
            }

            .payments {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 90%;

                .payment {
                    margin-right: 1rem;
                }

                .title-transfer {
                    font-size: 1.2rem;
                }

                .title-cash {
                    font-size: 1.2rem;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 80%;
                height: 70%;
                padding: 1rem 0;

                .input {
                    width: 100%;
                    height: 4rem;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    border: 1px solid rgb(199, 192, 192);
                    border-radius: 0.3rem;
                    padding: 1rem;
                    color: black;
        
                    &:hover {
                        border: 1px solid black;
                    }
                }

                textarea {
                    border-radius: 0.3rem;
                    padding: 1rem;
                    resize: vertical;
                    width: 100%; 
                    height: 5rem; 

                    &:hover {
                        border: 1px solid black;
                    }
                }

                .error {
                    font-size: 1rem;
                    color: red;
                }
            }

            .error {
                font-size: 1rem;
                color: red;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: fit-content;
            padding: 1rem 0;

            .confirm {
                width: 40%;
            }

            .continue {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 1099px) and (min-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    
        .table {
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            padding: 1rem;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            .titles {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 1rem;
                color: #fff;
                background-color: #018ec3;
                padding: 1rem;
                height: 50px;
                border-radius: 10px;
            
                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20%;
                }
    
                .name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40%;
                }

                .count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                }
            
                .small-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                }
            }
    
            .information {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 10px;
            }
        }
    
        .result {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            padding-top: 1rem;
        }
    
        .add-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 1rem;
            outline: 0;
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                color: black;
                padding: 1rem;
    
                .big-title {
                    font-size: 1.6rem;
                    font-weight: 700;
                }
    
                .payments {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 90%;
    
                    .payment {
                        margin-right: 1rem;
                    }
    
                    .title-transfer {
                        font-size: 1.1rem;
                    }
    
                    .title-cash {
                        font-size: 1.1rem;
                    }
                }
    
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 80%;
                    height: 70%;
                    padding: 1rem 0;
    
                    .input {
                        width: 100%;
                        height: 4rem;
                        font-size: 1rem;
                        margin-bottom: 1rem;
                        border: 1px solid rgb(199, 192, 192);
                        border-radius: 0.3rem;
                        padding: 1rem;
                        color: black;
            
                        &:hover {
                            border: 1px solid black;
                        }
                    }
    
                    textarea {
                        border-radius: 0.3rem;
                        padding: 1rem;
                        resize: vertical;
                        width: 100%; 
                        height: 5rem; 
    
                        &:hover {
                            border: 1px solid black;
                        }
                    }
                }
            }
    
            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: fit-content;
                padding: 1rem 0;
    
                .confirm {
                    width: 40%;
                }
    
                .continue {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    
        .table {
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            padding: 1rem;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            .titles {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 0.8rem;
                color: #fff;
                background-color: #018ec3;
                padding: 1rem;
                height: 50px;
                border-radius: 10px;
            
                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20%;
                }
    
                .name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 34%;
                }

                .count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 12%;
                }
            
                .small-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 12%;
                }
            }
    
            .information {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 10px;
            }
        }
    
        .result {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            padding-top: 1rem;
        }
    
        .add-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 1rem;
            outline: 0;
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                color: black;
                padding: 1rem;
    
                .big-title {
                    font-size: 1.4rem;
                    font-weight: 700;
                }
    
                .payments {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 90%;
    
                    .payment {
                        margin-right: 1rem;
                    }
    
                    .title-transfer {
                        font-size: 1rem;
                    }
    
                    .title-cash {
                        font-size: 1rem;
                    }
                }
    
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 80%;
                    height: 70%;
                    padding: 1rem 0;
    
                    .input {
                        width: 100%;
                        height: 4rem;
                        font-size: 0.9rem;
                        margin-bottom: 0.9rem;
                        border: 1px solid rgb(199, 192, 192);
                        border-radius: 0.3rem;
                        padding: 1rem;
                        color: black;
            
                        &:hover {
                            border: 1px solid black;
                        }
                    }
    
                    textarea {
                        border-radius: 0.3rem;
                        padding: 1rem;
                        resize: vertical;
                        width: 100%; 
                        height: 5rem; 
    
                        &:hover {
                            border: 1px solid black;
                        }
                    }
                }
            }
    
            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: fit-content;
                padding: 1rem 0;
    
                .confirm {
                    width: 40%;
                }
    
                .continue {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 599px) and (min-width: 281px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    
        .table {
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            padding: 0.5rem;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            .titles {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 0.7rem;
                color: #fff;
                background-color: #018ec3;
                padding: 0;
                height: 30px;
                border-radius: 8px;
            
                .image {
                    display: none;
                }
    
                .name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 0.5rem;
                    width: 32%;
                }

                .count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 17%;
                }
            
                .small-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 17%;
                }
            }
    
            .information {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 10px;
            }
        }
    
        .result {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            padding-top: 1rem;

            .price {
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    
        .add-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 1rem;
            outline: 0;
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                color: black;
                padding: 1rem;
    
                .big-title {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
    
                .payments {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 90%;
    
                    .payment {
                        margin-right: 1rem;
                    }
    
                    .title-transfer {
                        font-size: 0.8rem;
                    }
    
                    .title-cash {
                        font-size: 0.8rem;
                    }
                }
    
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    height: 70%;
                    padding: 1rem 0;
    
                    .input {
                        width: 100%;
                        height: 4rem;
                        font-size: 0.9rem;
                        margin-bottom: 0.9rem;
                        border: 1px solid rgb(199, 192, 192);
                        border-radius: 0.3rem;
                        padding: 1rem;
                        color: black;
            
                        &:hover {
                            border: 1px solid black;
                        }
                    }
    
                    textarea {
                        border-radius: 0.3rem;
                        padding: 1rem;
                        resize: vertical;
                        width: 100%; 
                        height: 5rem; 
    
                        &:hover {
                            border: 1px solid black;
                        }
                    }
                }
            }
    
            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: fit-content;
                padding: 1rem 0;
    
                .confirm {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                .continue {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 280px) and (min-width: 200px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    
        .table {
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            padding: 0.3rem;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            .titles {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 0.5rem;
                color: #fff;
                background-color: #018ec3;
                padding: 0;
                height: 30px;
                border-radius: 8px;
            
                .image {
                    display: none;
                }
    
                .name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 0.5rem;
                    width: 28%;
                }

                .count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15%;
                }
            
                .small-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 19%;
                }
            }
    
            .information {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 10px;
            }
        }
    
        .result {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: fit-content;
            padding-top: 1rem;

            .price {
                font-size: 1.1rem;
                font-weight: 700;
            }
        }
    
        .add-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 1rem;
            outline: 0;
            width: 100%;
            height: fit-content;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                color: black;
                padding: 1rem;
    
                .big-title {
                    font-size: 0.8rem;
                    font-weight: 700;
                }
    
                .payments {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 90%;
    
                    .payment {
                        margin-right: 1rem;
                    }
    
                    .title-transfer {
                        font-size: 0.4rem;
                    }
    
                    .title-cash {
                        font-size: 0.4rem;
                    }
                }
    
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    height: 70%;
                    padding: 1rem 0;
    
                    .input {
                        width: 100%;
                        height: 3rem;
                        font-size: 0.8rem;
                        margin-bottom: 0.9rem;
                        border: 1px solid rgb(199, 192, 192);
                        border-radius: 0.3rem;
                        padding: 1rem;
                        color: black;
            
                        &:hover {
                            border: 1px solid black;
                        }
                    }
    
                    textarea {
                        border-radius: 0.3rem;
                        padding: 1rem;
                        resize: vertical;
                        width: 100%; 
                        height: 5rem; 
    
                        &:hover {
                            border: 1px solid black;
                        }
                    }
                }
            }
    
            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: fit-content;
                padding: 1rem 0;
    
                .confirm {
                    width: 40%;
                }
    
                .continue {
                    width: 40%;
                }
            }
        }
    }
}
