.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 1rem 0;

    .brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
    }

    .category {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        width: 100%;
        height: fit-content;
        border-radius: 1rem;
        box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    }

    .hot-sale {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        color: #018ec3;

        .product {
            display: flex;
            flex-flow: row wrap;
            margin: 0 -13px;
        }
    }

    .machine {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: fit-content;
        color: #018ec3;

        .title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 20%;
            height: fit-content;
            padding: 1rem;
            margin: 1rem 0;
            color: #fff;
            background-color: #018ec3;
            box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
        }

        .product {
            display: flex;
            flex-flow: row wrap;
            margin: 0 -13px;
        }
    }
}