input:focus {
    outline: none;
}

#clearBtn {
    cursor: pointer;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;

    .searchInputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 3rem;

        .searchInput {
            width: 90%;
            height: 100%;
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 0.2rem;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid rgb(255, 255, 255);
            border-right: 1px solid black;
            background-color: white;
            box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
        }
    
        .searchIcon {
            width: 10%;
            height: 100%;
            border-radius: 0.2rem;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-left: 1px solid black;
            background-color: transparent;
            box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
            display: grid;
            place-items: center;
        }
    }

    .dataResult {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 999;
        // overflow: auto;
        // overflow-y: auto;
        // overflow-x: auto;

        .dataItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            font-size: 1rem;
            width: 100%;
            height: fit-content;
            color: black;
            background-color: white;
            cursor: pointer;

            .inner {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .image {
                    width: 25%;
                }
                
                .text {
                    width: 70%;
                    font-size: 1rem;
                }
            }

            &:hover {
                background-color: #F2F2F2;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    input:focus {
        outline: none;
    }
    
    #clearBtn {
        cursor: pointer;
    }
    
    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 1rem;
        z-index: 9;
    
        .searchInputs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
    
            .searchInput {
                width: 100%;
                height: 100%;
                font-size: 0.8rem;
                padding: 0.5rem;
                border-radius: 0.2rem;
                border: 1px solid rgb(255, 255, 255);
                background-color: white;
                box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
            }
        
            .searchIcon {
                display: none;
            }
        }
    
        .dataResult {
            margin-top: 5px;
            width: 100%;
            height: 0;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            z-index: 999;
        
            .dataItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 1rem;
                font-size: 1rem;
                width: 100%;
                height: fit-content;
                color: black;
                background-color: white;
                cursor: pointer;
    
                .inner {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
    
                    .image {
                        width: 25%;
                    }
                    
                    .text {
                        width: 70%;
                        font-size: 1rem;
                    }
                }
    
                &:hover {
                    background-color: #F2F2F2;
                }
            }
        }
    }
}
