.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: fit-content;
    margin-right: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: #F5F5F5;

    .content {
        padding: 0.5rem;
        color: black;
        font-size: 1.2rem;
        font-weight: 700;
    }
}